.card{
    width: 300px;
    border: 1px solid gray ;
    margin: 3px;
    text-align: center;
    box-shadow: 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.img{
    width: 100%;
}
.card button{
   padding: 10px;
   margin-bottom: 10px;
}